* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image {
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
}

.top {
  background-image: url(img/box1.jpg);
}

.second {
  background-image: url(img/box2.jpg);
}

.under {
  background-image: url(img/box3.jpg);
}

.bottom {
  background-image: url(img/box4.jpg);
}