* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head {
  width: 960px;
  margin: 50px auto;
}

.list {
  width: 960px;
  padding:20px 0 20px 20px ;
}

.list:nth-child(odd) {
  background-color: lightgrey;
}

.box-box {
  width: 960px;
  margin: 0 auto 50px auto;
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 30%;
  height: 200px;
}

.box-center {
  margin-left: 5%;
  margin-right: 5%;
}

.box-middle {
  margin-top: 40px;
  margin-bottom: 40px;
}

.box-orange {
  background-color:orange;
}

.box-gold {
  background-color: gold;
}